<h1>Uptime Monitoring</h1>


<div class="formWrapper">
  <form id="home" action="/" method="GET">
    <div class="formError"></div>
    <div class="inputWrapper">
      
      <input autocomplete="off" id="s1" list="choose" class="search" type="text" name="search" placeholder="потърсете поръчка" />
      <datalist id="choose">
     
      </datalist>
    </div>
    
    <div class="inputWrapper ctaWrapper">
      <button id="search" type="submit" class="cta green">Go Ahead</button>
    </div>

    <ul id="list">

    </ul>
  </form>
</div>